.wrapper{
    border-radius: 10px;
    border: 1px solid #aaa;
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin-top: 30px;
}

.header{
    font-size: 27px;
    color: darkcyan;
}

.body{
    font-size: 20px;
    padding: 50px;
}

.listItem{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    width: 80%;
}

.listItem span:first-of-type{
    font-size: 23px;
    font-weight: 500;
}